

.wrapper {
  margin: 0 auto;
  padding: 0;
	width: 24em;
	height: 22em;
	background-color: #3E3E3E;
  box-shadow: 7px 5px 4px rgba(0,0,0,0.5);
}

.box {
	margin: 2em auto;
	padding: 2em;
	width: 15em;
	height: 15em;
	position: relative;
	overflow: hidden;
	top: 1em;
	background-color: #FFF;
	box-shadow: 7px 5px 4px rgba(0,0,0,0.5);
	border: 1px solid black;
	border-radius: 2px;
}
/* Animating the UL 
-_-_-_-_-_-_-_-_-_-_-_-_ 

@keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-moz-keyframes scroll {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-webkit-keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-ms-keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-o-keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}
*/
.scroll {
	position: absolute;

	/*-webkit-animation: scroll 15s linear infinite;
	-moz-animation: scroll 15s linear infinite;
	-ms-animation: scroll 15s linear infinite;
	-o-animation: scroll 15s linear infinite;
	animation: scroll 15s linear infinite; */
}

.scroll li{
	list-style: circle;
}